body {
  margin: 0px;
  font-family: Cera Pro;
}

img {
  display: block;
}


#whitecover {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 0vw;
  transition: 0.8s;
  z-index: 150;
  background-color: white;
}

#citazione {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  transition: 1s;
  z-index: 150;
  background-color: white;
}

#cit {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 400px;
  transform: translate(-50%, -50%);
  transition: 2s;
  text-align: center;
  opacity: 0;
}

#under {
  position: absolute;
  top: 55%;
  left: 50%;
  height: auto;
  width: 400px;
  transform: translate(-50%, -50%);
  transition: 2s;
  text-align: center;
  opacity: 0;
}


#vidazione {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  transition: 1s;
  z-index: 150;
  background-color: white;
}

#vid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.menu {
  height: 120px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: white;



}

.option {
  float: left;
  position: relative;
  top: 70px;
  color: black;
  text-align: center;
  padding:16px;
  text-decoration: none;
  cursor: pointer;
}

.left {
  margin-left: 104px;
}

.right {
  float: right;
  margin-right: 104px;
}


.option:hover {
  color: #D71D21;
}


.LOGOC {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-height: 100px;
}


.LOGO {
  margin-left: auto;
  margin-right: auto;
  max-height: 90px;
}


.contatti {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 0vw;
  transition: 0.8s;
  z-index: 99;
  background-color: white;
  text-align: center;
  border-left: 1px solid grey;
}


.largo {
  width: 21vw;
  transition: 0.5s;
}

.cont {
  opacity: 0;
  transition-delay: 0s;
}

.zero {
  opacity: 1;
  transition-delay: 0.3s;
}

.info {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, 0);
}

.info2 {
  position: absolute;

  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.rosso {
  margin-bottom: 15px;
  color: #D71D21;
}


.videoscat {
  position: relative;
  width: 100vw;
  height: 100vh;
}


#myVideo {
  position: fixed;
  right: 0;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
}

.audio {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: white;
  cursor: pointer;
}






.content {
  position: relative;
  top: 210px;
  margin-left: 120px;
  margin-right: 120px;
}

.relative {
  position: relative;
  top: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

.background {
  position: relative;
  width: 100%;
}

.pizza {
  width: 100%;
  z-index: 0;
}

.layer {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pacchetto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 39px;
  font-weight: 400;
  color: #D71D21;
  text-align:center;
  margin-bottom: 21px;
    color: white;
}

.text {
  font-size: 18px;
text-align: center;
  font-family: Cera Pro;
  margin-bottom: 90px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.text2 {
  font-size: 18px;
text-align: center;
  font-family: Cera Pro;
  color: white;
}

.storia {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imma {
  width: 100%;
}
